.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3 ease-in-out;
}