<nav class="flex items-center justify-between flex-wrap bg-teal-500 py-6 px-40">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
        <span class="font-semibold text-4xl tracking-tight cursor-pointer" routerLink="/">Dating App</span>
    </div>
    <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow self-end" >
          <ng-container *ngIf="accountServices.currentUser$ | async">
            <a routerLink="/members" routerLinkActive="font-semibold !text-white" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 text-base">
              Matches
            </a>
            <a routerLink="/lists" routerLinkActive="font-semibold !text-white" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 text-base">
              Lists
            </a>
            <a routerLink="/messages" routerLinkActive="font-semibold !text-white" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white text-base mr-4">
              Messages
            </a>
          </ng-container>
          <a routerLink="/errors" routerLinkActive="font-semibold !text-white" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white text-base">
            Errors
          </a>
        </div>
        <div class="dropdown inline-block relative" *ngIf="(accountServices.currentUser$ | async) as user">
            <button class="bg-teal-500 text-white font-semibold py-2 px-4 rounded inline-flex items-center">
            <span class="mr-1">Welcome {{user.username | titlecase}}</span>
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
          </button>
            <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 shadow-md">
                <li class=""><a class="rounded-t bg-white hover:bg-gray-200 py-2 px-4 block whitespace-no-wrap" routerLink="/member/edit">Edit Profile</a></li>
                <li class=""><a class="bg-white hover:bg-gray-200 py-2 px-4 block whitespace-no-wrap" href="#" (click)="logout()">Logout</a></li>
            </ul>
        </div>
        <form class="ml-auto" *ngIf="(accountServices.currentUser$ | async) === null" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
            <input name="username" [(ngModel)]="model.username" class="mr-2 px-3 py-1 rounded text-md focus:outline-teal-200" type="text" placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="mr-2 px-3 py-1 rounded text-md focus:outline-teal-200" type="password" placeholder="Password">
            <button class="inline-block px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0 text-md" type="submit">Login</button>
        </form>
    </div>
</nav>