<div *ngIf="member" class="grid grid-cols-11 gap-10">
    <div class="col-span-3">
        <p class="text-4xl mb-3">Your profile</p>
        <div class="border-2 border-teal-100 rounded">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="w-full h-full m-auto rounded">
            <div class="px-5 pt-5">
                <div class="">
                    <p class="font-semibold">Location:</p>
                    <p class="font-extralight">{{member.city}}, {{member.country}}</p>
                </div>
                <div class="mt-2">
                    <p class="font-semibold">Age:</p>
                    <p class="font-extralight">{{member.age}}</p>
                </div>
                <div class="mt-2">
                    <p class="font-semibold">Last Active:</p>
                    <p class="font-extralight">{{member.lastActive}}</p>
                </div>
                <div class="mt-2">
                    <p class="font-semibold">Member since:</p>
                    <p class="font-extralight">{{member.created}}</p>
                </div>
            </div>
            <div class="p-5">
                <div class="flex justify-center">
                    <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="bg-teal-500 px-4 py-1 text-white font-medium rounded mr-2 w-full disabled:bg-teal-200">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-7">
        <div class="bg-teal-100 p-4 rounded" *ngIf="editForm.dirty">
            <p class="text-teal-700"><span class="font-semibold">Infomation: </span>You have made changes. Any unsaved changes will be lost</p>
        </div>
        <mat-tab-group class="overflow-clip">
            <mat-tab label="About {{member.knownAs}}">
                <form #editForm="ngForm" (ngSubmit)="updateMember()" id="editForm" class="mt-5">
                    <p class="text-2xl font-semibold">Description</p>
                    <textarea name="introduction" rows="5" class="text-base w-full p-2 border-2 border-teal-100 rounded overflow-y-hidden outline-teal-600" [(ngModel)]="member.introduction"></textarea>
                    <p class="text-2xl font-semibold">Looking for</p>
                    <textarea name="lookingFor" rows="5" class="text-base w-full p-2 border-2 border-teal-100 rounded overflow-y-hidden outline-teal-600" [(ngModel)]="member.lookingFor"></textarea>
                    <p class="text-2xl font-semibold">Interests</p>
                    <textarea name="interests" rows="5" class="text-base w-full p-2 border-2 border-teal-100 rounded overflow-y-hidden outline-teal-600" [(ngModel)]="member.interests"></textarea>
                    <p class="text-2xl font-semibold">Location details</p>
                    <div>
                        <span>City: </span>
                        <input name="city" class="px-2 py-1 border-2 border-teal-100 rounded outline-teal-600 mx-2" value="{{member.city}}">
                        <span>Country: </span>
                        <input name="country" class="px-2 py-1 border-2 border-teal-100 rounded outline-teal-600 mx-2" value="{{member.country}}">
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="Photos">
                <div class="mt-5">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>