<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <p class="text-3xl text-teal-500 font-semibold">Sign up</p>
    <div class="mt-5">
        <input type="text" name="username" class="w-full px-4 py-2 border border-teal-500 rounded outline-teal-500" [(ngModel)]="model.username" placeholder="Username">
    </div>
    <div class="my-5">
        <input type="password" name="password" class="w-full px-4 py-2 border border-teal-500 rounded outline-teal-500" [(ngModel)]="model.password" placeholder="Password">
    </div>
    <div class="my-5">
        <button class="bg-teal-500 text-white text-base px-5 py-2 font-semibold rounded mr-5" type="submit">Register</button>
        <button class="bg-gray-300 px-5 py-2 text-base font-semibold rounded" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>
